<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Successful!</title>
</head>
<body style="text-align: center;">
    <h1>Order Successful!</h1>
    <h2>Your order number is: {{ order_num }}</h2>
    <h3>You will shortly recieve a confirmation email confirming your order. If you have not recieved it,
        dont hesitate to contact us but before that, do make sure to check your junk or your spam folders
    </h3>
</body>
</html>